<!-- <html>

<head>
    <title>
        Webpage
    </title>
    <link rel="stylesheet" href="/css/worker.css">
</head> -->
<%- include('partials/header') %>
<body class="Wcontainer">
    <div class="Wleft">
        <img src="https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bWFsZSUyMHByb2ZpbGV8ZW58MHx8MHx8&w=1000&q=80"
            alt="Profile Picture" class="Wimage">
        <!-- <h2 class="WName"> <%=name%></h2> -->
              
        
        <p class="Wbio">
            Name : <%=name%><br>
            Mobile Number : <%=phone%><br>
            Skills : <%=skills %><br>
            Address : <%=address%><br>
            Email : <%=email%><br>
        </p>
        <button class="Wconnect-button">Edit</button>
    </div>
    <div class="Wright">
        <div class="Wcontent">
            <div class="Wclient">
                <div class="Wimg"><img
                        src="https://img.freepik.com/free-photo/portrait-white-man-isolated_53876-40306.jpg?w=360"
                        alt="Profile Picture" class="Wimage clientImage"></div>
                <div class="Winfo">
                    Name : Chinmay<br><br>
                    Job Type: Driver<br><br>
                    Job Description: Trip of Pune to Mumbai of 10 people<br><br>
                    <button class="Wconnect-button">Apply</button>
                </div>
            </div>
            <!-- <div class="Wclient">
                <div class="img"><img
                        src="https://c1.wallpaperflare.com/preview/711/14/431/smile-profile-face-male.jpg"
                        alt="Profile Picture" class="image clientImage"></div>
                <div class="info">
                    Name : Harsh<br><br>
                    Job Type: Mechanic<br><br>
                    Job Description : Repairing brakes of car<br><br>
                    <button class="connect-button">Apply</button>
                </div>
            </div>
            <div class="client">
                <div class="img"><img
                        src="https://c1.wallpaperflare.com/preview/711/14/431/smile-profile-face-male.jpg"
                        alt="Profile Picture" class="image clientImage"></div>
                <div class="info">
                    Name : Harsh<br><br>
                    Job Type: Maid<br><br>
                    Job Description : Maid for cooking<br><br>
                    <button class="connect-button">Apply</button>
                </div>
            </div>
            <div class="client">
                <div class="img"><img
                        src="https://c1.wallpaperflare.com/preview/711/14/431/smile-profile-face-male.jpg"
                        alt="Profile Picture" class="image clientImage"></div>
                <div class="info">
                    Name : Harsh<br><br>
                    Job Type : Electrician<br><br>
                    Job Description: Repairing Fan<br><br>
                    <button class="connect-button">Apply</button>
                </div>
            </div> -->


        </div>
    </div>
</body>
<%- include('partials/footer') %>

<!-- </html> -->