<%- include('partials/header') %>

<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="images/Subject3.png">
        <span class="font-weight-bold">
            <%=WorkerName%>
        </span>
        <span class="text-black-50">
            <%=Workeremail%>
        </span>
        <span class="text-black-50"> 
            <%=phone%>

        </span>

        <span class="text-black-50"> 
            <%=address%>

        </span>

        <span class="text-black-50"> 
            <%=skills%>

        </span>
    </div>
    <div class="edit">
        <button type="submit"><a href="form">Edit</a></button>
    </div>
        </div>

    <div class="col border-right">

        <section class="services" id="services">

            <h1 class="heading"> apply <span>jobs</span> </h1>
        
            <div class="box-container">
        
                    <%data.forEach(function(profile){%>
                        <%console.log(profile.workDomain);%>

                        <div class="box">
                            <h2>Domain: <%=profile.workDomain%></h2>
                            <h3>Name : <%=profile.ClientName%></h3>
                            <p>Description : <%=profile.workDescription%></p>
                            <p>Work Date : <%=profile.workDate%></p>
                            <p>I will you Rs. <%=profile.fees%> </p>
                            <button class="applybtn"><a href="#" class="btn element"> APPLY </a></button>
                        </div>

                        <%});%>

                
        
            </div>
        
        </section>
    </div>
    </div>
</div>
</div>
</div>
<script>
var applyButton = document.querySelector(".applybtn");
var element = document.querySelector(".element");
// var sideBar = document.querySelector(".sidebar");
// var container = document.querySelector(".container");

applyButton.onclick  = function(){
   
    // element.innerHTML = "requested";
    if (element.innerHTML === "APPLY") {
      element.innerHTML = "Requested";
    } else {
      element.innerHTML = "APPLY";
    }
  

};


    





</script>
<%- include('partials/footer') %>
<!-- <span class="border px-3 p-1 add-experience"><i class="fa fa-plus"></i>&nbsp;Experience</span> -->